<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AddUser</title>
</head>
<body>
<form th:action="@{/addUser}" th:object="${user}" method="post">
    <label for="name">name</label>
    <input type="text" th:field="*{name}" id="name">
    <br>
    <label for="lastName">lastName</label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <br>
    <label for="email">email</label>
    <input type="text" th:field="*{email}" id="email">
    <br>
    <button type="submit">AddUser</button>
</form>
</body>
</html>